@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #fdbf00;
}

b {
  color: #000046;
}
.cardd {
  width: 450px;
  height: 250px;
  -webkit-perspective: 1200px;
  perspective: 800px;
  transition: 1s;
  text-align: center;
  /* margin-left: -160px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden; */
  margin-top: -5px;
}

@media screen and (max-width: 412px) {
  .cardd {
    margin-right: -90px;
  }
}

@media (min-width: 712px), (max-width: 912px) {
  .cardd {
    margin-left: 300px;
  }
}

@media screen and (min-width: 350px) {
  .cardd {
    margin-right: -110px;
  }
}
@media screen and (min-width: 375px) {
  .cardd {
    margin-left: -40px;
  }
}
@media screen and (min-width: 360px) {
  .cardd {
    margin-left: -180px;
  }
}
@media screen and (max-width: 320px) {
  .cardd {
    margin-left: -190px;
  }
}
@media screen and (max-width: 280px) {
  .cardd {
    margin-left: -210px;
  }
}
@media screen and (min-width: 640px) {
  .cardd {
    margin-left: -100px;
  }
}
@media screen and (min-width: 540px) {
  .cardd {
    margin-left: -80px;
  }
}
@media screen and (min-width: 820px) {
  .cardd {
    margin-left: 50px;
  }
}
@media screen and (min-width: 768px) {
  .cardd {
    margin-left: 10px;
  }
}
@media screen and (min-width: 712px) {
  .cardd {
    margin-left: -20px;
  }
}
@media screen and (min-width: 912px) {
  .cardd {
    margin-left: 80px;
  }
}

.cardd:hover {
  transform: rotate(-5deg);
}
.cardd:hover .outside {
  transform: rotateY(-130deg);
}
.outside,
.inside {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50.1%;
}
.inside {
  background: linear-gradient(to right, #e7e7e7, #ffffff 30%);
  line-height: 3;
  padding: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 50%;
}
.outside {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 1;
  transform-origin: left;
  transition: 2s;
  cursor: pointer;
}
.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}
.front {
  background-color: #ffffff;
}
.back {
  transform: rotateY(180deg);
  background: linear-gradient(to left, #e7e7e7, #ffffff 30%);
}
.cake {
  width: 100%;
  position: absolute;
  bottom: 5px;
}
.top-layer,
.middle-layer,
.bottom-layer {
  height: 60px;
  width: 200px;
  background-repeat: repeat;
  background-size: 60px 100px;
  background-position: 28px 0;
  background-image: linear-gradient(
      transparent 50px,
      #0d0b07 50px,
      #fedbab 60px,
      transparent 60px
    ),
    radial-gradient(circle at 30px 5px, #f7a4d0 30px, #d38673 31px);
  border-radius: 10px 10px 0 0;
  position: relative;
  margin: auto;
}
.middle-layer {
  transform: scale(0.85);
  top: 6px;
}
.top-layer {
  transform: scale(0.7);
  top: 26px;
}
.candle {
  background: #120f0f;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  position: absolute;
  bottom: 90%;
  left: 50%;
  margin-left: -2.5px;
  margin-top: -8.333333333333334px;
  width: 10px;
  height: 20px;
}
.candle:before {
  background: rgba(255, 0, 0, 0.4);
  content: '';
  position: absolute;
  width: 90%;
  height: 5px;
}

.fire {
  border-radius: 100%;
  box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
  position: absolute;
  top: -20px;
  left: 51%;
  margin-left: -3.3333333333333335px;
  width: 6.666666666666667px;
  height: 15px;
  animation: fire 2s infinite;
}
.outside p {
  font-size: 23px;
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 6px;
  color: #000046;
}
.inside h1 {
  font-size: 120px;
  line-height: 120px;
}
@keyframes fire {
  0% {
    background: rgb(251, 243, 63);
    background: radial-gradient(
      circle,
      rgba(251, 243, 63, 1) 0%,
      rgba(252, 177, 70, 1) 100%
    );
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(0);
    background: rgb(251, 243, 63);
    background: radial-gradient(
      circle,
      rgba(251, 243, 63, 1) 0%,
      rgba(252, 177, 70, 1) 100%
    );
  }
  100% {
    background: rgb(251, 243, 63);
    background: radial-gradient(
      circle,
      rgba(251, 243, 63, 1) 0%,
      rgba(252, 177, 70, 1) 100%
    );
    transform: translateY(0) scale(1);
  }
}

#card-front button {
  position: absolute;
  bottom: 9.5em;
  right: -3px;
  background: #d38673;
  color: #fff;

  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25),
    0 0 1px rgba(0, 0, 0, 0.4);
}

#card-front button:hover,
#card-front button:focus {
  background: #f7a4d0;
}

#close {
  display: none;
}

#card.open-fully #close,
#card-open-half #close {
  display: inline;
}

#card.open-fully #open {
  display: none;
}

#card.open-half #card-front,
#card.close-half #card-front {
  transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
}
#card.open-half #card-front .wrap {
  background-color: rgba(0, 0, 0, 0.5);
}

#card.open-fully #card-front,
#card.close-half #card-front {
  background: #ffefef;
}

#card.open-fully #card-front {
  transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}

#card.open-fully #card-front .wrap {
  background-color: rgba(0, 0, 0, 0);
}

#card.open-fully #card-front .wrap *,
#card.close-half #card-front .wrap * {
  display: none;
}
.css-bccm03-MuiInputBase-input-MuiInput-input {
  font-weight: bold;
}

input[type='text'] {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

input[type='text']:focus {
  border: 3px solid white;
  border-bottom: 1px solid black;
}
