<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RITeSchool.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9E244EE7C0365413AE2B0AB1C02F749C0A22DAA5</string>
				<key>dateExpires</key>
				<string>30/01/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E244EE7C0365413AE2B0AB1C02F749C0A22DAA5</string>
						<key>dateExpires</key>
						<string>30/01/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6558T88XH2</string>
						<key>name</key>
						<string>Yatin Ghanwat</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E244EE7C0365413AE2B0AB1C02F749C0A22DAA5</string>
						<key>dateExpires</key>
						<string>30/01/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorApp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6558T88XH2</string>
						<key>name</key>
						<string>Yatin Ghanwat</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E244EE7C0365413AE2B0AB1C02F749C0A22DAA5</string>
						<key>dateExpires</key>
						<string>30/01/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6558T88XH2</string>
						<key>name</key>
						<string>Yatin Ghanwat</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E244EE7C0365413AE2B0AB1C02F749C0A22DAA5</string>
						<key>dateExpires</key>
						<string>30/01/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorCamera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6558T88XH2</string>
						<key>name</key>
						<string>Yatin Ghanwat</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E244EE7C0365413AE2B0AB1C02F749C0A22DAA5</string>
						<key>dateExpires</key>
						<string>30/01/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorDevice.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6558T88XH2</string>
						<key>name</key>
						<string>Yatin Ghanwat</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E244EE7C0365413AE2B0AB1C02F749C0A22DAA5</string>
						<key>dateExpires</key>
						<string>30/01/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorPushNotifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6558T88XH2</string>
						<key>name</key>
						<string>Yatin Ghanwat</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E244EE7C0365413AE2B0AB1C02F749C0A22DAA5</string>
						<key>dateExpires</key>
						<string>30/01/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorSplashScreen.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6558T88XH2</string>
						<key>name</key>
						<string>Yatin Ghanwat</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E244EE7C0365413AE2B0AB1C02F749C0A22DAA5</string>
						<key>dateExpires</key>
						<string>30/01/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6558T88XH2</string>
						<key>name</key>
						<string>Yatin Ghanwat</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6558T88XH2.www.riteschool.net</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6558T88XH2</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>RITeSchool.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>16e90dbd-5e26-4a7d-915e-b72bbdead549</string>
				<key>dateExpires</key>
				<string>30/01/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: www.riteschool.net</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6558T88XH2</string>
				<key>name</key>
				<string>Yatin Ghanwat</string>
			</dict>
			<key>versionNumber</key>
			<string>2.0.6</string>
		</dict>
	</array>
</dict>
</plist>
